.book-list-container {
 display: flex;
 /* justify-content: center; */
 flex-direction: row;
 border-bottom: 1px solid grey;
}

img {
    object-fit: contain;
}

.book-list-container ul {
    list-style-type: none;

}


